.inputFile {
    margin-top: 10rem;
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.inputFile + label {
    font-size: 1.25rem;
    font-weight: 700;
    color: steelblue;
    background-color: white;
    border: 0.2rem;
    border-style: solid;
    border-color: steelblue;
    display: inline-block;
    cursor: pointer;
    padding: 1rem;
}

.inputFile:focus + label,
.inputFile + label:hover {
    background-color: steelblue;
    color: white;
    border: 0.2rem;
    border-style: solid;
    border-color: white;
}